{% extends "base.html" %}

{% load blog_tags %}
{% load tagging_tags %}

{% block article_tab %}active{% endblock %}

{% block meta-desc %}
  {% if filter_type == "technology" %}
    <meta name="Description" content="A list of technological achievements made through the awesomeness of {{ filter_item }}" />
  {% else %}
    {% if filter_type == "author" %}
      <meta name="Description" content="Chronicles of {{ filter_item }}'s dabblings in the richness of technology" />
    {% else %}
      <meta name="Description" content="A sweet n' chunky selection of the various scoops of RockyCode goodness" />
    {% endif %}
  {% endif %}
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load("visualization", "1", {packages:["imagesparkline"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable({{ months }});
      var chart = new google.visualization.ImageSparkLine(document.getElementById('chart'));
      chart.draw(data, {
        width:270,
        height:100,
        showAxisLines:false,
        showValueLabels:false,
        labelPosition:'none',
        color:'#604429',
        fill: true
      });
    }
  </script>
{% endblock %}

{% block main %}
  {% for a in articles.object_list %}
    {% list_template a %}
  {% endfor %}
  {% with articles as object %}
    {% include "includes/_pagination.html" %}
  {% endwith %}
{% endblock %}

{% block sidebar %}

  {% if filter_item %}
    <div class="filter">
      <span>{{ articles.paginator.count }}</span> result{{ articles.object_list|pluralize }} for {{ filter_type }}, <span>{{ filter_item }}</span>...
      <a id="clear-filter" href="{% url article_list %}">(clear filter)</a>
    </div>
    <div id="chart"></div>
  {% endif %}

  <section class="top-align">
    <header>
      <h3>Authors</h3>
    </header>
    <ul>
      {% for a in authors %}
        <li><a href="{% url article_list_author a.username %}">{{ a.first_name|default:"user" }} {{ a.last_name }}</a><span>{{ a.article_count }}</span></li>
      {% endfor %}
    </ul>
  </section>

  <section>
    <header>
      <h3>Technologies</h3>
    </header>
    <ul>
      {% tags_for_model blog.Article as article_tags with counts %}
      {% for t in article_tags %}
        <li><a href="{% url article_list_tech t %}">{{ t }}</a><span>{{ t.count }}</span></li>
      {% endfor %}
    </ul>
  </section>

{% endblock %}
