{% load tagging_tags %}
{% tags_for_object object as tag_list %}

<article class="type-detail type-blog">
  <header>
    <h1>{{ object.title }}</h1>
    <p>
      posted by {{ object.user.first_name|default:"user" }}
      on <time datetime="{{ object.date_published|date:"Y-m-d"}}" pubdate="pubdate">{{ object.date_published|date:"d M Y" }}</time>
    </p>
  </header>
  {{ object.summary|safe|linebreaks }}
  {% if object.demo or object.source or object.source_path %}
    <section class="two-btn demo">
      {% if object.demo %}<a href="{{ object.demo }}">Demo</a>{% endif %}
      {% if object.source %}<a href="{{ object.source.url }}">Source</a>{% endif %}
      {% if object.source_path %}<a href="{{ object.source_path }}">Source</a>{% endif %}
    </section>
  {% endif %}
  {{ object.get_rendered_body|safe }}
  <footer>
    {% with object.user.get_profile as author %}
      <section class="two-btn meta">
        <header>
          <h3>Share the delectableness</h3>
        </header>
        <a href="http://twitter.com/intent/tweet?url={{ object.get_url }}&text={{ object.title }}{% if tag_list %}&hashtags={% for tag in tag_list %}{{ tag.name }},{% endfor %}{% endif %}&via={% if author.twitter %}{{ author.twitter }}{% else %}rockycode{% endif %}" class="twitter">Twitter</a>
        <a href="http://www.facebook.com/sharer.php?u={{ object.get_url }}&t={{ object.title }}" class="facebook">Facebook</a>
      </section>

      <section class="meta author">
        <header>
          <h3><a href="{% url author_detail author.user.username %}">About {{ author.user.first_name }} {{ author.user.last_name }}</a></h3>
        </header>
        {% if author.image_path %}
        <a href="{% url author_detail author.user.username %}"><img class="avatar" src="{{ author.image_path }}" /></a>
        {% endif %}
        {{ author.bio|safe|truncatewords_html:"100" }}
        <a href="{% url author_detail author.user.username %}" class="continue">More by {{ author.user.first_name }}</a>
        <ul class="social">
          {% if author.twitter %}
            <li>
              <a class="twitter" href="https://twitter.com/intent/user?screen_name={{ author.twitter }}">Twitter</a>
            </li>
          {% endif %}
          {% if author.google_chatback %}
            <li>
              <a class="gplus" href="{{ author.google_chatback }}?rel=author">Google Plus</a>
            </li>
          {% endif %}
          {% if author.linkedin %}
            <li>
              <a class="linkedin" href="{{ author.linkedin }}">LinkedIn</a>
            </li>
          {% endif %}
          <li>
            <a class="rss" href="/feeds/author/{{ author.user.username }}.rss">Articles RSS</a>
          </li>
        </ul>
      </section>
    {% endwith %}

  </footer>
</article>