<article class="type-list type-blog">
  <header>
    <h2><a href="{% url guide_article_detail object.collection.title_slug object.title_slug %}">{{ object.title }}</a></h2>
    <p>
      posted by <a href="{% url article_list_author object.user.username %}">{{ object.user.first_name|default:"user" }}</a>
      on <time datetime="{{ object.date_published|date:"Y-m-d"}}" pubdate="pubdate">{{ object.date_published|date:"d M Y" }}</time>
    </p>
  </header>
  {% if object.collection.image_path %}
    <a href="{%url guide_detail object.collection.title_slug %}"><img src="{{ object.collection.image_path }}" class="left top"/></a>
  {% endif %}
  {{ object.summary|safe|linebreaks|truncatewords_html:"100" }}
  <footer>
    <a href="{% url article_detail object.title_slug %}" class="continue">Continue reading</a>
    {% include "includes/_tag_list.html" %}
  </footer>
</article>