#logo {
}
#main {
  width: 100%;
  min-height: 300px;
}
#sidebar {
  width: 100%;
  padding-left: 0px;
}
#header {
  margin: 100px 0px 20px 0px;
}
#header nav {
  width: 100%;
}
#header nav ul li {
  width: 50%;
  height: 50px;
  line-height: 50px;
}
#header nav ul li a {
  height: 49px;
}

#authors li {
  width: 100%;
  height: auto;
  margin: 0px 0px 30px 0px;
}
