<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}RockyCode{% endblock %}</title>
    <meta name="google-site-verification" content="GIr6E7I5vxdADELTGqs2Ln1EaD5rwBh3-sY5gWPZDQ4" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta-desc %}
      <meta name="Description" content="RockyCode.  Gather 'round the carton that always has an extra scoop for those late night coding sessions.  Programmers welcome." />
    {% endblock %}
    {% block meta-keywords %}
      <meta name="Keywords" content="technology, development, dev, web development, computers, programming, software, software engineering, code, coding, ice cream" />
    {% endblock %}
    {% block feeds %}
      <link rel="alternate" type="application/rss+xml" title="All articles feed" href="{% url feeds 'blog' %}" />
    {% endblock %}
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block styles %}
      <link rel="stylesheet" href="{{ STATIC_URL }}styles/style.css" media="all" />
      <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css' />
    {% endblock %}
    {% block scripts %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <header id="header">
        {% block logo %}<a href="{% url home %}"><h1 id="logo">RockyCode</h1></a>{% endblock %}
        <nav>
          <ul>
            <li><a href="{% url article_list %}" class="{% block article_tab %}{% endblock %}">Articles</a></li>
            <li><a href="{% url author_list %}" class="{% block author_tab %}{% endblock %}">Authors</a></li>
            <li><a href="{% url tech_list %}" class="{% block tech_tab %}{% endblock %}">Technologies</a></li>
            <li><a href="{% url about %}" class="{% block about_tab %}{% endblock %}">About</a></li>
          </ul>
        </nav>
      </header>
      {% block body %}
        <div id="main" role="main">
          {% block main %}{% endblock %}
        </div>
        <aside id="sidebar">
          {% block sidebar %}{% endblock %}
          <section>
            <!--<header>
              <h3>Sponsors</h3>
            </header>-->
            <script type="text/javascript"><!--
            google_ad_client = "ca-pub-0475153820653291";
            /* Rockycode sidebar */
            google_ad_slot = "2291646790";
            google_ad_width = 300;
            google_ad_height = 250;
            //-->
            </script>
            <script type="text/javascript"
                    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
          </section>
        </aside>
      {% endblock %}
      <footer id="footer">
        {% block footer %}
          <small>
            &copy; 2012 RockyCode and participating authors
          </small>
          <nav>
            &middot; <a href="{% url about %}">Site Policies</a>
            &middot; <a href="{% url about %}">Contact</a>
            &middot; <a href="{% url sitemap %}">Sitemap</a>
          </nav>
        {% endblock %}
      </footer>
    </div>
    {% block scripts-bottom %}{% endblock %}
    {% block analytics %}
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-16224416-1");
      pageTracker._trackPageview();
      } catch(err) {}</script>
    {% endblock %}
  </body>
</html>
